# =========================
# Rust
# =========================
**/target/

# =========================
# Node / Frontend
# =========================
**/node_modules/
**/.next/

# =========================
# Environment
# =========================
**/.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store